In [1]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [4]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
#[s.capitalize() for s in data]    # error code
[s.capitalize() for s in data if s is not None]

['Peter', 'Paul', 'Mary', 'Guido']

In [5]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [6]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [7]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gillian', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [11]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gillian
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [12]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [13]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [14]:
monte[monte.str.startswith('T')]

2    Terry Gillian
4      Terry Jones
dtype: object

In [15]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gillian]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [18]:
monte.str.extract('([A-Za-z]+)', expand=False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [23]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gillian]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [24]:
monte.str.slice(0, 3)

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [25]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [26]:
monte.str.get(0)

0    G
1    J
2    T
3    E
4    T
5    M
dtype: object

In [27]:
monte.str[0]

0    G
1    J
2    T
3    E
4    T
5    M
dtype: object

In [29]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gillian
3       Idle
4      Jones
5      Palin
dtype: object

In [30]:
full_monte = pd.DataFrame({'name': monte, 'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gillian    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [35]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

# Example: Recipe Database

In [38]:
# !curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz
# !gunzip recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    20  100    20    0     0     41      0 --:--:-- --:--:-- --:--:--    41

In [37]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print('ValueError:', e)

ValueError: Expected object or value